---
import Layout from "@layouts/Layout.astro";
import { t, getLocale } from "i18n:astro";

const locale = getLocale();
---

<Layout>
    <span>locale {locale}</span>
    <h1>{t("common:title")}</h1>
</Layout>