---
import { t } from "i18n:astro";
import { buildUrl } from "@utils/urlUtils";

import { ArrowLeftIcon } from "@lucide/astro";
import LangToggleButton from "./LangToggleButton.astro";

interface Props {
    backUrl?: string;
}

const { backUrl } = Astro.props;
const backLink = backUrl || buildUrl("/");
---

<header>
    <a href={backLink} title={t("common:back")}>
        <ArrowLeftIcon size={16} class="icon" />
        <span>{t("common:back")}</span>
    </a>
    <LangToggleButton />
</header>

<style>
    header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 12px;
        margin-block: 24px;
        flex-wrap: wrap;

        a {
            display: flex;
            align-items: center;
            gap: 8px;
            color: var(--accent);
            transition: all 0.2s ease-in-out;

            .icon {
                transition: all 0.2s ease-in-out;
            }

            &:hover {
                color: var(--accent-light);

                .icon {
                    transform: translateX(-2px);
                }
            }
        }
    }
</style>
