---
import { CalendarIcon } from "@lucide/astro";
import { t } from "i18n:astro";
---

<section>
    <header>
        <h2>{t("resume:education_summary.title")}</h2>
    </header>
    <ul class="education-list">
        {
            t("resume:education_summary.education_details", {
                returnObjects: true,
            }).map((edu) => (
                <li class="edu">
                    <div class="header">
                        <h3>{edu.degree}</h3>
                        <p>
                            <CalendarIcon size={16} class="icon" />
                            {edu.duration}
                        </p>
                    </div>
                    <p class="institution">{edu.institution}</p>
                    <p class="description">{edu.description}</p>
                </li>
            ))
        }
    </ul>
</section>

<style>
    section {
        width: 100%;
        padding: 24px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 48px;
        border-radius: 8px;
        background-color: var(--bg-secondary);
        background-image: radial-gradient(
            circle at 5% 95%,
            var(--aureola-big) 100px,
            transparent 4px
        );
        border: 1px solid var(--border-color);

        header {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 24px;
            color: var(--text-primary);
        }

        .education-list {
            width: 100%;
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 24px;

            .edu {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 8px;
                padding-left: 16px;
                border-left: 2px solid var(--green-color);

                .header {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-wrap: wrap;
                    gap: 8px;
                    margin-bottom: 8px;

                    h3 {
                        color: var(--text-primary);
                    }

                    p {
                        display: flex;
                        align-items: center;
                        gap: 8px;
                        color: var(--text-secondary);
                        font-size: 14px;
                        font-weight: 500;
                        letter-spacing: 0.5px;
                    }
                }
            }
            .institution {
                color: var(--green-color);
                font-weight: 500;
                font-size: 16px;
                margin-bottom: 8px;
            }

            .description {
                color: var(--text-secondary);
                font-size: 14px;
                margin-bottom: 8px;
            }
        }
    }
</style>
