---
import { t } from "i18n:astro";
import { MapPinIcon, SparklesIcon } from "@lucide/astro";

import SocialLinks from "@components/sections/SocialLinks.astro";
---

<section>
    <div class="avatar-wrapper">
        <div class="image-wrapper">
            <img
                src="https://avatars.githubusercontent.com/u/121297520?v=4"
                alt="CuB1's Avatar"
            />
        </div>
        <div class="active-status">
            <SparklesIcon size={14} />
        </div>
    </div>
    <h1>{t("hero:name")}</h1>
    <h2>{t("hero:position")}</h2>
    <div class="place-container">
        <MapPinIcon size={20} />
        <p>{t("hero:place")}</p>
    </div>
    <p class="description">{t("hero:description")}</p>
    <SocialLinks />
</section>

<style>
    section {
        width: 100%;
        margin-bottom: 64px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        .avatar-wrapper {
            position: relative;
            margin-bottom: 32px;

            .image-wrapper {
                position: relative;
                overflow: hidden;
                width: 120px;
                height: 120px;
                border-radius: 9999px;
                border: 2px solid var(--accent);
                box-shadow: 0 0px 24px var(--accent-alpha);

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: scale 0.3s ease-in-out;
                }

                &:hover {
                    img {
                        scale: 1.05;
                    }
                }
            }

            .active-status {
                position: absolute;
                bottom: 0;
                right: -24px;
                padding: 4px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 999px;
                border: 4px solid var(--bg-primary);
                background-color: var(--green-color);
                color: var(--bg-primary);
                box-shadow: 0 8px 12px -8px var(--green-color);
                animation: pulse 2s infinite;
            }
        }

        h1 {
            font-size: 30px;
            font-weight: 700;
            margin-bottom: 16px;
            line-height: 1.2;
            color: var(--text-primary);
        }

        h2 {
            font-size: 18px;
            font-weight: 500;
            line-height: 1.5;
            color: var(--accent-light);
        }

        .place-container {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
            margin-block: 16px;
            color: var(--accent);

            p {
                color: inherit;
            }
        }

        .description {
            max-width: 384px;
            font-size: 16px;
            line-height: 1.6;
            color: var(--text-secondary);
            margin-bottom: 24px;
        }
    }

    @keyframes pulse {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0.5;
        }
        100% {
            opacity: 1;
        }
    }
</style>
