---
import { t } from "i18n:astro";
import { socialData } from "@/constants/socialData";

import { MailIcon, MapPinIcon } from "@lucide/astro";
import SocialLinks from "@components/sections/SocialLinks.astro";

const info = {
    email: {
        value: socialData.email.replace("mailto:", ""),
        icon: MailIcon,
    },
    place: {
        value: t("resume:professional_summary.place"),
        icon: MapPinIcon,
    },
};
---

<section>
    <header>
        <div class="text">
            <h2>{t("resume:professional_summary.title")}</h2>
            <p>{t("resume:professional_summary.subtitle")}</p>
        </div>
        <div class="info">
            <div class="info-item">
                <info.email.icon size={14} class="icon" />
                <span>{info.email.value}</span>
            </div>
            <div class="info-item">
                <span class="dot">•</span>
            </div>
            <div class="info-item place">
                <info.place.icon size={14} class="icon" />
                <span>{info.place.value}</span>
            </div>
        </div>
    </header>
    <div class="content">
        <p>{t("resume:professional_summary.summary_1")}</p>
        <p>{t("resume:professional_summary.summary_2")}</p>
        <p>{t("resume:professional_summary.summary_3")}</p>
    </div>
    <SocialLinks align="right" />
</section>

<style>
    section {
        width: 100%;
        padding: 24px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 48px;
        border-radius: 8px;
        background-color: var(--bg-secondary);
        background-image: radial-gradient(
            circle at 90% 50%,
            var(--aureola-big) 100px,
            transparent 4px
        );
        border: 1px solid var(--border-color);

        header {
            width: 100%;
            display: flex;
            justify-content: space-between;
            gap: 16px;
            flex-wrap: wrap;
            margin-bottom: 32px;

            h2 {
                color: var(--text-primary);
                margin-bottom: 8px;
            }

            p {
                color: var(--accent-light);
            }
        }

        .info {
            display: flex;
            justify-content: flex-end;
            align-items: flex-start;
            gap: 16px;
            flex-wrap: wrap;
            color: var(--text-secondary);
            font-size: 14px;
            font-weight: 500;

            .info-item {
                display: flex;
                align-items: center;
                color: var(--text-secondary);

                .icon {
                    margin-right: 8px;
                }

                .dot {
                    color: var(--accent);
                }
            }
        }

        .content {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 16px;
            color: var(--text-secondary);
            font-size: 16px;
            line-height: 1.6;
            margin-bottom: 32px;
        }
    }
</style>
