---
import { GITHUB_URL, LINKEDIN_URL, EMAIL } from "../constants";
---

<section id="contact">
    <h1>Contact</h1>
    <p>Feel free to reach out to me on any of the following platforms:</p>
    <div class="contact-links">
        <a href={GITHUB_URL} target="_blank" rel="noopener noreferrer">GitHub</a>
        <a href={LINKEDIN_URL} target="_blank" rel="noopener noreferrer">LinkedIn</a>
        <a href=`mailto:${EMAIL}`>{EMAIL}</a>
    </div>
</section>

<style>
    section {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
    }

    .contact-links {
        display: flex;
        gap: 1rem;
    }

    a {
        padding: 0px 10px;
        border-radius: 5px;
        color: black;
        background-color: #eee;
    }
</style>
