---
const { onMenuClick } = Astro.props;
---

<button class="hamburger" aria-label="Menu" data-on-menu-click={onMenuClick}>
    <span></span>
    <span></span>
    <span></span>
</button>


<script is:inline>
    function handleClick() {
        const hamburger = document.querySelector(".hamburger")
        const spans = document.querySelectorAll(".hamburger span")
        const onMenuClick = hamburger.dataset.onMenuClick

        if (hamburger.classList.contains("is-active")) {
            hamburger.classList.remove("is-active")
        } else {
            hamburger.classList.add("is-active")
        }

        eval(onMenuClick)()
    }

    document.querySelector(".hamburger").addEventListener("click", handleClick)
</script>

<style>
    .hamburger {
        display: inline-block;
        cursor: pointer;
        background-color: transparent;
        border: none;
        position: relative;
        width: 30px;
        height: 24px;
    }

    .hamburger span {
        display: block;
        position: absolute;
        height: 4px;
        width: 100%;
        background: #333;
        border-radius: 4px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: 0.25s ease-in-out;
    }

    .hamburger span:nth-child(1) {
        top: 0px;
    }

    .hamburger span:nth-child(2) {
        top: 10px;
    }

    .hamburger span:nth-child(3) {
        top: 20px;
    }

    .hamburger.is-active span:nth-child(1) {
        transform: rotate(-45deg);
        top: 10px;
    }

    .hamburger.is-active span:nth-child(2) {
        opacity: 0;
    }

    .hamburger.is-active span:nth-child(3) {
        transform: rotate(45deg);
        top: 10px;
    }
</style>
