---
import { t, getLocale } from "i18n:astro";

const locale = getLocale();
---

<html lang={locale}>
    <head>
        <meta charset="UTF-8" />
        <title>{t("title")}</title>
        <meta name="description" content={t("description")} />
    </head>
    <body>
        <slot />
    </body>
</html>