---
import { t, getLocale } from "i18n:astro";

import Footer from "@components/shared/Footer.astro";
import Header from "@components/shared/Header.astro";

interface Props {
    extended?: boolean;
}

const { extended } = Astro.props as Props;

const locale = getLocale();
---

<html lang={locale}>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{t("title")}</title>
        <meta name="description" content={t("description")} />
        <link rel="icon" href="/favicon.svg" />
    </head>
    <body>
        <Header />
        <div class={"wrapper" + (extended ? " extended" : "")}>
            <slot />
            <Footer />
        </div>
    </body>
</html>

<style is:global>
    @import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Inter", sans-serif;
        scroll-behavior: smooth;
        scrollbar-width: thin;
        scrollbar-color: var(--accent-alpha) transparent;

        -webkit-tap-highlight-color: transparent;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: text;

        &::selection {
            background: var(--accent-alpha);
            color: var(--text-primary);
        }
    }

    :root {
        --bg-primary: #16191d;
        --bg-secondary: #1a1d21;

        --border-color: #252c37;

        --text-primary: #f1faff;
        --text-secondary: #b1b6be;
        --text-muted: #4a5565;

        --accent: #73b3d8;
        --accent-light: #a2b9c7;
        --accent-alpha: #73b3d834;

        --aureola-big: #29353e11;
        --aureola-small: #73b3d81a;

        --green-active: #3bb27c;
        --max-width: 768px;
        --max-width-extended: 1200px;
    }

    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--bg-primary);
        background-image: radial-gradient(
                circle at 10% 10%,
                var(--aureola-small) 5px,
                transparent 4px
            ),
            radial-gradient(
                circle at 85% 15%,
                var(--aureola-small) 5px,
                transparent 6px
            ),
            radial-gradient(
                circle at 75% 85%,
                var(--aureola-small) 5px,
                transparent 3px
            ),
            radial-gradient(
                circle at 25% 75%,
                var(--aureola-small) 5px,
                transparent 5px
            ),
            radial-gradient(
                circle at 70% 30%,
                var(--aureola-small) 5px,
                transparent 2px
            ),
            radial-gradient(
                circle at 40% 10%,
                var(--aureola-small) 5px,
                transparent 3px
            ),
            radial-gradient(
                circle at 15% 30%,
                var(--aureola-big) 264px,
                transparent 20px
            ),
            radial-gradient(
                circle at 90% 80%,
                var(--aureola-big) 264px,
                transparent 20px
            );
        background-size: 100vw 100%;
        background-repeat: no-repeat;
        animation: float-dots 25s ease-in-out infinite;
        color: var(--text-secondary);
        font-size: 16px;
        line-height: 1.5;
    }

    a,
    a:visited,
    a:hover,
    a:focus {
        color: var(--accent);
        text-decoration: none;
    }

    .wrapper {
        width: 100%;
        max-width: var(--max-width);
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 48px;
        padding-inline: 16px;

        &.extended {
            max-width: var(--max-width-extended);
        }
    }

    @media (max-width: 768px) {
        .wrapper {
            padding-inline: 16px;
            padding-bottom: 32px;
        }
    }

    @keyframes float-dots {
        0%,
        100% {
            background-position:
                15% 20%,
                85% 15%,
                75% 85%,
                25% 75%,
                60% 40%;
        }
        50% {
            background-position:
                18% 25%,
                82% 18%,
                78% 82%,
                22% 72%,
                63% 43%;
        }
    }
</style>
